<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Add word</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWordModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addWord()">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Your language</span>
            <input type="text" placeholder="Enter word in your language" ng-model="addWord.baseLanguage">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Foreign language</span>
            <input type="text" placeholder="Enter word in foreign language" ng-model="addWord.foreignLanguage">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive ion-plus" type="submit"> Add</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
