<ion-view view-title="All words">
  <ion-content>
    <ion-list show-delete="true">
      <ion-item ng-repeat="word in words">
        <h2>{{word.foreign}}</h2>
        <p>{{word.base}}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteWord($index)"></ion-delete-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
