<ion-view view-title="MemoMemo">
  <ion-content padding="true">
  <div style="margin: 20px 0">
    <h1 style="text-align: center">Hi,</h1>
    <p style="text-align: center">What would you like to do?</p>
   </div>
    <a class="button button-block button-assertive icon-right ion-chevron-right"  href="#/app/test">
      Start test
    </a>
    <button class="button button-block button-assertive ion-plus" ng-click="openWordModal()">
      Add word
    </button>
  </ion-content>
</ion-view>
