<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
    		<ion-nav-back-button>
    		</ion-nav-back-button>

      		<ion-nav-buttons side="left">
        		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        		</button>
      		</ion-nav-buttons>
    	</ion-nav-bar>
    	
  		<ion-nav-view name="menuContent"></ion-nav-view>
  	</ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/all-words">
          All words
        </ion-item>
        <ion-item menu-close href="#/">
          Settings
        </ion-item>
        <ion-item menu-close href="#/">
          Logout
        </ion-item>
        <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
