<ion-view view-title="Test">
  <div id="time-bar"></div>
  <ion-content padding="true">
   <div class="padding" id="test-container">

    <div class="word-container">
      <div class="word current-word" ng-hide="showAnswer">{{currentWord.base}}</div>
      <div class="word next-word" ng-hide="showAnswer">{{nextWord.base}}</div>
      <div class="word error-word" ng-show="showAnswer" class="ng-hide">{{currentWord.foreign}}</div>
    </div>

    <form ng-submit="checkWord()">
      <div class="list list-inset">
        <label class="item item-input" ng-class="{'error': errorWord}">
            <input type="text" placeholder="Enter word in foreign language" ng-model="checkWord.translation"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="test-input">
        </label>

        <button class="button button-block button-balanced" type="submit">Check</button>
      </div>
    </form>

    </div>
  </ion-content>
</ion-view>
