/* Empty. Add your own CSS if you like */

.word-container {
	width: 200%;
	float: none;
	clear: both;
}

.word {
	font-size: 36px;
	width: 50%;
	display: block;
	color: #000;
    font-family: "Helvetica Neue","Roboto","Segoe UI",sans-serif;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.next-word {
	width: 100%;
	position: absolute;
	left: 100%;
	top: 20px;
}

#test-container .error {
	background-color: red;
	color: #fff;
}

#test-container .error input {
	color: #fff;
}

#test-container .error-word {
	color: red;
}

#time-bar {
	background-color: #aaa;
	height: 3px;
	position: relative;
	top: 44px;
}